/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

:root{
    --bg-body:#000000;
    --bg-footer:#212021;
    --font:#ffffff;
    --share:#43aa05;
    --end:#9b1718;
    --grey:#363536;

}

/* Header */
header{
 height: 70px;
 color: var(--font);
 font-size: 13px;
}

body{
    background-color: var(--bg-body);
}

.bg-top{
    background-color: var(--grey);
    padding: 5px 5px;
    margin-left: 5px;
    border-radius: 3px;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
    top: 10px;
    right: 8px;
}

/* Main */
.container{
    width: 100%;
    height: calc(100vh - 150px);
    margin: auto;
    color: var(--font);
    overflow: auto;
}

  .card{
    width: calc((100% / 7) - 5px); 
    padding: 0 4px 4px 4px;
    position: relative;
}  

img{
    width: 100%;
    display: block;
}

.d-flex{
    display: flex;
}

.flex-i{
    flex-flow: row wrap;
    justify-content: center ;
}

.pop{
    position: absolute;
    left: 4px;
    bottom: 8px;
    background-color: #363536;
    padding: 2px 3px;
}

/* Footer */
footer{
    height: 80px;
    background-color: var(--bg-footer);
    color: var(--font);
}

.font-s{
    font-size: 25px;
}

.p-left{
    padding-left: 10px;
}

.p-top{
    padding-top: 15px;
}

.button-flex{
    justify-content: space-between;
    align-items: center;
}

.chevron-s{
    font-size: 10px;
}

.share{
    color: var(--share);
}

.end{
    background-color: var(--grey);
    color: var(--end);
    padding: 23px;
}

.i-center{
    padding-left: 30px;
}

.p-center{
    padding-left: 15px;
}

.h-center{
    padding-left: 40px;
}



